{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div class="row">
	{{#with main}}
	<main>
		{{#with summary}}
		<section>
			{{> title data=title big=true}}
			<div class="col-12">
				<p>
					{{ text}}
				</p>
			</div>
		</section>
		{{/with}}

		{{#with experience}}
		<section>
			{{> title data=title big=false}}
			<div class="col-12">
				<p>
					{{text}}
				</p>
			</div>
		</section>
		{{/with}}
	</main>
	{{/with}}

</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}