<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
		<ul class="nav">
			<li class="nav-item">
				{{> link class="nav-link" text="Summary" href="/summary" line=false }}
			</li>
			<li class="nav-item">
				{{> link class="nav-link" text="Skills" href="/skills" line=false }}
			</li>
			<li class="nav-item">
				{{> link class="nav-link" text="Education" href="/education" line=false }}
			</li>
			<li class="nav-item">
				{{> link class="nav-link" text="Work" href="/work" line=false }}
			</li>
		</ul>
  </div>
</nav>