<div class='col-3'>
  <div class='card text-bg-dark'>
    <div class='card-body py-1'>
      <div class='card-title mb-3'>
        {{title}}
        {{#if isNew}}
          <span
            class='badge rounded-pill text-bg-success'
          >Нова</span>
        {{/if}}
        {{#if isTop}}
          <span
            class='badge rounded-pill text-bg-danger'
          >Топ</span>
        {{/if}}
      </div>
      <p class='card-text'>{{description}}</p>
    </div>
  </div>
</div>